.form{
  text-align: center;
  
}

form{
  border: 1px solid grey;
  border-radius:  5px;
  width: 50%;
  margin: 4px;
  padding: 10px;
  display: inline-block;
}

label {
  margin: 5px 0;
  float: left;
}

form input{
  width: 98%;
}

.btn{
  display: inline-block;
  margin: 6px 0;
}

#boi{
  background-color: rgb(209,236,241);
  width: 50%;
  padding: 6px;
  display: block;
  border-radius:  5px;
  margin: 3px auto;
}

@media only screen and (max-width: 500px) {
  form {
    width: 98%;
  }
  #boi {
    width: 98%;
  }
}